<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Gabreta Ltd is a private limited company registered in England and Wales under registration number <a href="https://beta.companieshouse.gov.uk/company/12194286">12194286</a> and its registered office is at Unit 4, Vista Place Coy Pond Business Park, Ingworth Road, Poole, Dorset, England, BH12 1JY.</p>
      </div>
    </div>

  </div>

</footer>
